$site-width: 1280px;
$content-width: $site-width * 0.8;
$logo-width: 362px;
$menu-pattern-height: 56px;
$top-menu-height: 32px;
$main-red-color: #ff6666;
$article-block-red-color: #ec7b7d;
$main-green-color: #669999;
$main-yellow-color: #ffc168;
$main-blue-color: #617dda;
$background-color: #fff;
$headers-text-color: #fff;
$coupons-block-item-bg: #fff4ef;
$additional-text-color: #663333;
$menu-hover-bg: #f3e1d9;
.container {
    background: {
        image: url("/bundles/app/img/main-bg.png");
        color: #f2f2f2;
    }
    width: 100%;
    font-family: 'Rokkitt', serif;
    color: #000;
    min-width: 294px;
    padding: 0;
}
.content {
    background-color: $background-color;
    max-width: $content-width;
    margin: 0 auto;
}
.row.no-expand {
    margin: 0;
}
.no-expand > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    &.disabled, &.disabled:hover {
       pointer-events: none;
    }
}
.header {
    position: relative;
}
.header-logo {
    position: relative;
    img {
        max-width: 100%;
        height: auto;
        text-align: center;
    }
}
.slideshow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
}
.main-logo {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    z-index: 10;
    & > img {
        width: 100%;
        vertical-align: middle;
    }
}
.main-logo-img {
    position: absolute;
    width: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    img {
        width: 100%;
        vertical-align: middle;
    }
    a:focus {
        outline: none;
    }
}
.top-menu-section {
    position: relative;
    z-index: 9;
}
.top-menu-pattern-top, .top-menu-pattern-bottom {
    height: $menu-pattern-height;
    width: 100%;
    background: {
        position: top center;
        repeat: repeat;
    }
}
.top-menu-pattern-top {
    background-image: url("/bundles/app/img/top-menu-pattern.png");
    margin: -30px 0 -16px;
}
.top-menu-pattern-bottom {
    background-image: url("/bundles/app/img/top-menu-pattern-rotated.png");
    margin-top: -16px;
}
.top-menu-text {
    margin: 10px 0;
    padding: 0 0 0 70px;
    min-height: 46px;
    line-height: 48px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: $main-red-color;
    letter-spacing: .02em;
    font: {
        size: 38px;
        weight: bold;
    }
    span {
        display: inline-block;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 48px;
            height: 48px;
            left: -50px;
            top: 40%;
            transform: translateY(-50%);
            background: {
                image: url("/bundles/app/img/top-menu-logo.png");
                repeat: no-repeat;
                position: bottom center;
            }
        }
    }
    &.coupons-page {
        letter-spacing: -.01em;
        text-indent: -26px;
        text-transform: none;
        span:after {
            width: 0;
            height: 0;
        }
    }
}
.top-menu {
    z-index: 10;
    position: relative;
/*    margin: 48px 0 -40px;*/
    margin: 10px 0 -40px;
    text-align: center;
    ul {
        padding: 0;
        width: 100%;
        line-height: 34px;
        letter-spacing: -0.025em;
        list-style: none;
        font: {
            family: 'Rokkitt', serif;
            size: 16px;
        }
        text-transform: uppercase;
    }
    li {
        padding: 0 15px;
        display: inline;
        a {
            color: $main-green-color;
            white-space: nowrap;
        }
    }
/*
    &.active:after {
        content: '';
        position: absolute;
        width: 48px;
        height: 48px;
        margin-left: -24px;
        left: 50%;
        bottom: 95%;
        background: {
            image: url("/bundles/app/img/top-menu-logo.png");
            repeat: no-repeat;
            position: bottom center;
        }
    }*/
}
.top-menu-section-header {
    position: relative;
}
.top-menu-search {
    z-index: 11;
    width: 100%;
    text-align: center;
    padding: {
        right: 4px;
        left: 42px;
    }
    input {
        height: 46px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;
        color: $additional-text-color;
        font-size: 18px;
        font-family: 'Rokkitt', serif;
        &:focus {
            background-color: #f5f5f5;
        }
        &[type="submit"] {
            position: absolute;
            top: 0;
            right: 0;
            width: 66px;
            background: {
                color: $main-red-color;
                image: url("/bundles/app/img/search-icon.png");
                position: center;
                repeat: no-repeat;
            }
            &:hover {
                opacity: .7;
            }
            &:active {
                opacity: .9;
            }
        }
        &[type="text"] {
            width: 100%;
            padding-left: 18px;
            padding-right: 66px;
            box-sizing: border-box;
            border: {
                top: 4px;
                bottom: 4px;
                style: solid;
                color:$main-red-color;
            }
        }
    }
}

.top-menu-search-form {
    position:relative;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: -1px;
        width: 0;
        height: 0;
        border: {
            top: 23px solid transparent;
            bottom: 23px solid transparent;
            left: 14px solid $main-red-color;
        }
        box-sizing: border-box;
    }
    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: -5px;
        width: 0;
        height: 0;
        border: {
            top: 23px solid transparent;
            bottom: 23px solid transparent;
            left: 14px solid $background-color;
        }
        box-sizing: border-box;
    }
}
.top-menu-search-image {
    position: absolute;
    content: '';
    bottom: -6px;
    left: -42px;
    width: 41px;
    height: 57px;
    background: {
        image: url("/bundles/app/img/search-logo.png");
        position: center;
        repeat: no-repeat;
    }
}
.top-menu-search-loading {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: -42px;
    width: 40px;
    height: 40px;
    display: none;
    background: {
        image: url("/bundles/app/img/loading.gif");
        position: center;
        repeat: no-repeat;
        size: cover;
    }
}
/* coupons header */
.header-logo-line {
    text-align: center;
    font: {
        size: 14px;
        family: 'Rokkitt', serif;
        weight: bold;
    }
    padding: 1px 55px 1px 95px;
    position: relative;
    background-color: #f2f2f2;
    img {
        vertical-align: middle;
        max-height: 56px;
        width: auto;
        height: auto;
    }
    a {
        color: $main-red-color;
        text-decoration: none;
        &:focus {
            outline: none;
        }
    }
}
#search-link {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 5px 7px;
    background-color: #dfd3d5;
    border-radius: 4px;
    img {
        max-height: 22px;
        width: auto;
        height: auto;
    }
}
#menu-link {
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #dfd3d5;
    color: #000;
    text-transform: uppercase;
    font: {
        size: 16px;
        weight: bold;
    }
    &:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f0c9\f0c9";
        margin-right: 12px;
        color: $headers-text-color;
        letter-spacing: -0.6em;
    }
}
.main-menu, .main-menu-submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-transform: capitalize;
    border: 2px solid $main-red-color;
    box-sizing: border-box;
    text-align: left;
    & > li {
        position: relative;
        min-width: 130px;
    }
    a {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 8px;
        &:hover {
            background-color: $menu-hover-bg;
            opacity: 1;
        }
    }
}
.has-submenu:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0c9\f0c9";
    margin-right: 12px;
    color: #000;
    letter-spacing: -0.6em;
}
.header-menu-line {
    background-color: $background-color;
}
.main-menu-block, .main-submenu-block {
    position: absolute;
    left: 0;
    top: 41px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: $background-color;
    box-sizing: border-box;
    z-index: 10;
    #menu-link:hover ~ & {
        transition: opacity 0.5s ease;
        visibility: visible;
        opacity: 1;
    }
    &:hover {
        visibility: visible;
        opacity: 1;
    }
}
.main-submenu-block {
    left: 20px;
    top: 0;
    background-color: #f8f8f8;
    min-width: 260px;
    &:hover ~ a {
        background-color: $menu-hover-bg;
    }
    .main-menu-block li:hover > & {
        transition: opacity 0.5s ease;
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (min-width: 460px) {
    .main-submenu-block {
        min-width: 400px;
    }
}
/**/
.main-content {
    padding: 16px 9px;
    margin: 0;
}
.content-coupons-block {
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    & > div:last-child {
        margin-bottom: 0;
    }
}
.coupons-block-header {
    overflow: hidden;
}
.coupons-block-header-logo, .coupon-block-item-logo {
    margin: {
        right: 15px;
        bottom: 10px;
    }
}
.coupons-block-header-logo {
    width: 120px;
    height: 120px;
    float: left;
    margin-top: -36px;
    display: table;
}
.logo-wraper {
    display: table-cell;
    vertical-align: middle;
}
.coupons-block-header-title {
    background-color: $main-red-color;
    margin-bottom: 8px;
    color: $headers-text-color;
    margin-left: 125px;
    font-size: 24px;
    &.no-logo {
        margin-left: 0;
    }
}
.coupons-block-header-descr {
    padding: 0 10px;
    letter-spacing: -.002em;
    font-size: 14px;
    line-height: 1.43em;
}
.descr-details-open {
    display: inline;
    cursor: pointer;
    color: blue;
    font-weight: normal;
}
.descr-details-close {
    display: block;
    cursor: pointer;
    color: blue;
    font-weight: normal;
    text-align: right;
}
.descr-details-text {
    display: inline;
}
.coupons-block-header-descr input[type=checkbox] {
    display: none;
}
.coupons-block-header-descr input[type=checkbox] + .descr-details-open + .descr-details-text {
    display: none;
}
.coupons-block-header-descr input[type=checkbox]:checked + .descr-details-open {
    display: none;
}
.coupons-block-header-descr input[type=checkbox]:checked + .descr-details-open + .descr-details-text {
    display: inline;
}
.coupons-block-item {
    position: relative;
    width: 100%;
    background-color: $coupons-block-item-bg;
    color: $main-red-color;
    margin: {
        top: 2px;
        bottom: 14px;
    }
    &:after {
        content:'';
        clear: both;
        display: block;
        height: 0;
    }
}
.coupon-block-item-left {
    float: left;
    text-align: center;
    margin-right: 10px;
}
.coupon-block-item-right {
    padding: 1px;
    font: {
        family: 'Droid Sans', sans-serif;
        size: 14px;
    }
    line-height: 21px;
    min-height: 75px;
    overflow: hidden;
}
.coupon-block-item-title {
    letter-spacing: .02em;
    margin: 12px 0 0 0;
    text-transform: capitalize;

}
.coupon-block-item-logo {
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -.025em;
    line-height: 30px;
    padding: 5px 3px;
    font-size: 40px;
    height: 110px;
    width: 110px;
    span {
        font-size: 48px;
    }
    &.shipping {
        font-size: 26px;
    }
    &.empty {
        height: 65px;
    }
}
.coupon-block-item-details {
    letter-spacing: .02em;
    text-transform: capitalize;
    font: {
        family: 'Droid Sans', sans-serif;
        size: 14px;
    }
    padding: {
        left: 12px;
        bottom: 4px;
    }
}
.coupon-block-item-descr {
    min-height: 30px;
    color: #000;
    margin-top: 17px;
    position: relative;
}
.coupon-block-item-label {
    font-size: 20px;
    line-height: 28px;
}
.coupon-block-item-verify {
    color: #B37372;
    font-size: 12px;
    padding: 6px 0;
    letter-spacing: .01em;

}
.coupon-block-item-code, .content-article-block-enjoy {
    position: absolute;
    letter-spacing: .03em;
    font: {
        family: 'Droid Sans', sans-serif;
        size: 18px;
    }
    &:after{
        position: absolute;
        content:'';
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        border: {
            top: 15px solid transparent;
            bottom: 15px solid transparent;
            left: 8px solid $coupons-block-item-bg;
        }
    }
    span {
        vertical-align: -4px;
    }
    a {
        font-size: 18px;
        padding: 0 15px;
        height: 30px;
        color: $headers-text-color;
        display: block;
        box-sizing: border-box;
        background-color: $main-blue-color;
        text-decoration: none;
        &.yellow {
            background-color: $main-yellow-color;
            color: #333;
        }
    }
}
.coupon-block-item-code {
    width: 195px;
    right: -6px;
    top: 0;
    letter-spacing: .02em;
    text-align: center;
}
.coupon-block-item-expire {
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
}

.content-coupons-block, .content-article-block {
    padding: 5px;
    margin-bottom: 14px;
    border: 2px solid $main-red-color;
    &.green {
        border-color: $main-green-color;
    }
}
.content-offers-block {
    padding: 12px 10px 0 10px;
    margin-bottom: 14px;
    border: 2px solid $main-yellow-color;
    text-align: center;
}
.offers-block-header {
    background-color: $main-yellow-color;
    color: $headers-text-color;
   
    font-size: 24px;
}
.offers-block-header, .coupons-block-header-title h1, .side-menu-section .menu-title, .content-article-block h1, .content-article-block h2, .article-preview h1 {
    position: relative;
    text-align: center;
    letter-spacing: -.025em;
    text-transform: uppercase;
    line-height: 30px !important;
    span {
        vertical-align: -4px;
    }
    &:after, &:before {
        position: absolute;
        content:'';
        top: 0;
        height: 100%;
        width: 8px;
        box-sizing: border-box;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        right: 0;
        border-right: 8px solid $background-color;
    }            
    &:before {
        left: 0;
        border-right: none;
        border-left: 8px solid $background-color;
    }
}
.offers-block-list {
    padding-top: 14px;
    & > .row {
        padding: 19px 0;
    }
}
.offers-block-item
{
    display: table;
    table-layout: fixed;
    min-height: 120px;
    img {
        max-width: 100%;
    }
}
.image-centerer
{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.content-left-column {
    padding-right: 9px;
}
.content-right-column {
    padding: {
        top: 64px;
        left: 9px;
    }
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 64px;
        left: -6px;
        top: -6px;
        background: {
            image: url("/bundles/app/img/right-column-logo.png");
            repeat: no-repeat;
            position: bottom center;
        }
    }
}
.side-menu-section {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    &.green .menu-title {
        background-color: $main-green-color;
    }
    &.yellow .menu-title {
        background-color: $main-yellow-color;
    }
    &.blue .menu-title {
        background-color: $main-blue-color;
    }
    .menu-title {
        background-color: $main-red-color;
        color: $headers-text-color;
        letter-spacing: .07em;
        font-weight: 800;
        span {
            vertical-align: -2px;
        }
    }
    ul {
        margin-top: 10px;
        list-style: none;
        padding: 0;
        width: 100%;
        line-height: 34px;
        letter-spacing: -0.01em;
        font-weight: bold;
    }
    li {
        a {
            color: #000;
        }
        img {
            max-height: 88px;
            margin-bottom: -8px;
        }
        line-height: 1em;
        padding: 7px 0;
    }
}
.menu-section-content {
    padding-bottom: 2px;
}
a img {
    border: none;
}
.footer {
    background-color: #f2f2f2;
    padding-bottom: 2px;
    text-align: center;
    font: {
        family: 'Droid Sans', sans-serif;
        size: 9px;
    }
}
.footer-top {
    font-size: 12px;
    line-height: 18px;
    padding: 8px;
}
.footer-bottom {
    padding-top: 12px;
    position: relative;
    border-top: 12px solid $background-color;
}
.footer-menu {
    padding-bottom: 10px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
        li + li:before {
            content: " - ";
        }
    }
    li {
        display: inline;
        a {
            color: #000;
            white-space: nowrap;
        }
    }
}
.no-capitalize {
    text-transform: none;
}
a:hover {
    opacity: .7;
}
a:active {
    opacity: .9;
}
li.active {
    position: relative;
    a {
        color: $main-red-color;
    }
}
.content-article-block, .article-preview, .coupons-block-header-title {
    h1, h2 {
        display: block;
        font-weight: bold;
        text-transform: none;
        padding: 0 12px;
    }
    h1 {
        background-color: $article-block-red-color;
        color: $background-color;
        margin: 0 0 10px;
        font-size: 24px;
        letter-spacing: 0.025em;
    }
}
.content-article-block {
    overflow: hidden;
    position: relative;
    padding-bottom: 72px;
    border-color: $article-block-red-color;
    box-sizing: border-box;
    h1 {
        & + p {
            & > img {
                float: none;
                width: 19% !important;
                max-width: 132px !important;
                margin-left: 0;
                &:first-of-type {
                    width: 30% !important;
                    max-width: 200px !important;
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
            a {
                img {
                    width: 30% !important;
                    max-width: 200px !important;
                    margin-left: 0;
                    }
            }
            a + a {
                img {
                    float: none;
                    width: 19% !important;
                    max-width: 132px !important;
                    margin-left: 0;
                }
                &:last-of-type img {
                    margin-right: 0;
                }
            }
        }
        &:after, &:before {
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
        }
    }
    h2 {
        background-color: #e0d4d6;
        overflow: hidden;
        font-size: 17px;
        letter-spacing: 0.015em;
        color: #000;
        margin-bottom: 15px;
    }
    img {
        float: left;
        margin: 0 10px 10px;
        vertical-align: top;
        max-width: 98% !important; 
        height: auto !important;
    }
    h2 ~ p {
        font: {
            size: 13px;
            family: 'Rokkitt', serif;
            weight: 500;
        }
        line-height: 23px;
        letter-spacing: -0.005em;
        padding-top: 12px;
        padding: 4px;
        background-color: #fff4ef;
    }
    p {
        background-color: $background-color;
        color: $additional-text-color;
        margin: 0;
        font: {
            family: 'Droid Sans', sans-serif;
            weight: normal;
            size: 14px;
        }
    }
    table {
        p {
            background-color: #eee8e9;
            margin: 0;
            padding: 0;            
        }
        display: block;
        position: relative;
        border: 0 !important;
        background-color: #eee8e9;
        color: $additional-text-color;
        line-height: 24px;
        width: 100%;
        border-radius: 15px;
        padding: 6px 0 16px 0;
        margin-top: 5px;
        box-sizing: border-box;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            width: 14px;
            height: 28px;
            right: 0;
            bottom: -13px;
            background: {
                image: url("/bundles/app/img/article-table-corner.png");
                repeat: no-repeat;
                position: bottom center;
            }
        }
        font: {
            size: 14px;
            family: 'Droid Sans', sans-serif;
        }
        td, th {
            width: 1%;
            padding: 0 10px;
            box-sizing: border-box;
        }
        td:first-of-type, th:first-of-type {
            padding-left: 15px;
        }
        th, th p {
            color: $main-red-color;
            font-weight: bold;
            letter-spacing: 0.03em;
        }
    }
 }
 .content-article-block-sign {
    position: absolute;
    text-transform: none;
    color: #000;
    bottom: 22px;
    left: 100px;
    margin-top: -4px;
    line-height: 24px;
    font: {
        size: 17px;
        weight: bold;
    }
    span {
        text-decoration: underline;
    }
    &:after {
        content: '';
        position: absolute;
        width: 36px;
        height: 56px;
        left: -42px;
        top: -20px;
        background: {
            image: url("/bundles/app/img/article-sign-logo.png");
            repeat: no-repeat;
            position: bottom center;
        }
    }
}
.content-article-block-enjoy  {
    right: 0;
    bottom: 14px;
    font: {
        family: 'Droid Sans', sans-serif;
        weight: bold;
    }
    letter-spacing: .03em;
    a {
        padding-right: 18px;
    }
    &:after {
        border-left: 8px solid $background-color;
    }
}
.article-preview-item {
    float: left;
    width: 50%;
}
.article-preview {
    margin: 10px;
    border: 2px solid $main-red-color;
    padding: 5px;
    box-sizing: border-box;
    h1 {
        margin-bottom: 5px;
        height: 56px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-red-color;
        &:after, &:before {
            border-top: 28px solid transparent;
            border-bottom: 28px solid transparent;
        }
        &:after {
            right: 0;
            border-right: 14px solid $background-color;
        }
        &:before {
            left: 0;
            border-left: 14px solid $background-color;
        }
        span {
            max-height: 100%;
            overflow: hidden;
        }
    }
}
.article-preview-image {
    height: 145px;
    width: 145px;
    max-width: 45%;
    margin-right: 6px;
    box-sizing: border-box;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 8px;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.article-previews:after, .article-preview-content:after, .coupons-block-header:after {
    content:'';
    clear: both;
    display: block;
    height: 0;
}
.article-preview-content {
    height: 145px;
    overflow: hidden;
    p {
        margin: 6px 0;
        color: #663333;
        font-family: 'Droid Sans', sans-serif;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.02em;
    }
}
.show-recipe-block {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 5px 0 0 7px;
    padding-left: 18px;
    display: block;
    font: {
        family: 'Droid Sans', sans-serif;
        weight: bold;
        size: 17px;
    }
    letter-spacing: .03em;
    line-height: 28px;
    text-align: center;
    color: $background-color;
    box-sizing: border-box;
    background-color: #669999;
    span {
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &:after{
        position: absolute;
        content:'';
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 8px solid $background-color;
    }
}
.top-menu-search-result {
    z-index: 11;
    position: absolute;
    left: 0;
    top: 44px;
    display: none;
    line-height: 20px;
    background-color: $background-color;
    li {
        padding-left: 4px;
    }
    a {
        font-size: 18px;
        padding: 4px 4px 4px 12px;
        &.search-result-more {
            font-size: 14px;
            padding: 4px 4px 4px 16px;
            text-transform: none;
        }
    }
}
.searched-for-alert {
    font-size: 18px;
    text-align: center;
    border: 2px solid $article-block-red-color;
    padding: 4px;
    margin: 10px;
    background-color: #ffffe6;
}
@media screen and (min-width: 700px) {
    .top-menu-search {
        position: absolute;
        width: 50%;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        text-align: right;
    }
    .no-expand > [class*='col-'] {
        padding-right: 9px;
        padding-left: 9px;
    }
    .top-menu {
        ul {
            display: table;
        }
        li {
            display: table-cell;
            width: 1%;
            white-space: nowrap;
            box-sizing: border-box;
            text-align: center;
        }
    }
    .coupon-block-item-descr {
        padding-right: 194px;
    }
    .top-menu-text {
        width: 50%;
        &.coupons-page {
            max-width: 375px;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 899px) {
    .content-left-column {
        padding: 0 3px;
    }
    .article-preview, .searched-for-alert {
        margin: 3px;
    }
    .article-preview-image {
        height: 105px;
        width: 105px;
    }
    .article-preview-content {
        height: 105px;
    }
    .no-expand > [class*='col-'] {
        padding-right: 3px;
        padding-left: 3px;
    }
    .main-content {
        padding-right: 5px;
        padding-left: 5px;
    }
    .coupons-block-header-title {
        margin-left: 0;
    }
    .coupons-block-header-logo {
        margin-top: 0;
    }
    .coupon-block-item-logo {
        width: 110px;
        height: 110px;
        &.shipping {
            font-size: 22px;
        }
    }
    .coupon-block-item-right {
        min-height: none;
        padding: 1px;
    }
    .coupon-block-item-code {
        position: relative;
        width: 100%;
        text-align: center;
        right: 0;
        margin: {
            right: -10px;
            top: 10px;
        }
    }
    .coupon-block-item-verify {
        margin-bottom: -10px;
    }
    .coupon-block-item-descr {
        padding-right: 0;
    }
}
@media screen and (min-width: 900px) {
    .top-menu-text {
        font-size: 40px;
        padding-left: 90px;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        padding: 24px;
    }
}
@media screen and (min-width: 620px) and (max-width: 699px) {
    .top-menu-text {
        padding: 6px 10px 0;
        text-align: center;
        &.coupons-page {
            text-indent: 0;
        }
    }
    .article-preview-image {
        height: 130px;
        width: 130px;
    }
    .article-preview-content {
        height: 130px;
    }
    .coupon-block-item-descr {
        padding-right: 194px;
    }
}
@media screen and (min-width: 540px) and (max-width: 619px) {
    .top-menu-text {
        padding: 6px 10px 0;
        text-align: center;
        &.coupons-page {
            text-indent: 0;
        }
    }
    .article-preview, .searched-for-alert {
        margin: 3px;
        p {
            margin: 3px 0;
        }
    }
    .article-preview-image {
        height: 105px;
        width: 105px;
    }
    .article-preview-content {
        height: 105px;
    }
    .main-content {
        padding: 16px 3px;
    }
    .coupon-block-item-descr {
        padding-right: 180px;
    }
    .coupon-block-item-left {
        margin-right: 6px;
    }
    .coupon-block-item-code {
        width: 182px;
        a {
            font-size: 16px;
        }
    }
    .coupon-block-item-logo {
        width: 90px;
        height: 90px;
        &.shipping {
            font-size: 20px;
        }
    }
}
@media screen and (min-width: 340px) and (max-width: 539px) {
    .top-menu-text {
        padding: 6px 10px 0 30px;
        text-align: center;
        &.coupons-page {
            text-indent: 0;
            padding-left: 10px;
        }
    }
    .content-article-block-sign {
        left: 80px;
    }
    .content-article-block {
        padding: 5px 5px 72px;
        table {
            font: {
                size: 14px;
                family: 'Droid Sans', sans-serif;
            }
            td, th {
                padding: 0 5px;
                box-sizing: border-box;
                text-align: left;
            }
            td:first-of-type, th:first-of-type {
                padding-left: 8px;
            }
        }
    }
    .article-preview-item {
        float: none;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
    }
    .main-content {
        padding: 16px 5px;
    }
    .coupons-block-header-title {
        margin-left: 0;
    }
    .coupons-block-header-logo {
        margin-top: 0;
    }
    .coupon-block-item-logo {
        width: 90px;
        height: 90px;
        &.shipping {
            font-size: 20px;
        }
    }
    .coupon-block-item-right {
        min-height: none;
        padding: 1px;
    }
    .coupon-block-item-code {
        position: relative;
        width: 100%;
        text-align: center;
        right: 0;
        margin: {
            right: -10px;
            top: 10px;
        }
    }
    .coupon-block-item-verify {
        margin-bottom: -10px;
    }
    .content-article-block {
        h1 {
            & + p {
                & > img {
                    width: 22% !important;
                    margin-bottom: 10px;
                    &:first-of-type {
                        width: 22% !important;
                        margin-bottom: 9px;
                    }
                }
                a {
                    img {
                        width: 22% !important;
                        margin-bottom: 9px;
                    }
                }
                a + a {
                    img {
                        width: 22% !important;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 339px) {
    .top-menu-text {
        padding: 0 8px;
        font-size: 36px;
        text-align: center;
        &.coupons-page {
            text-indent: 0;
        }
        span:after {
            width: 0;
            height: 0;
        }
    }
    .top-menu-search {
        padding-left: 4px;
    }
    .top-menu-search-image {
        display: none;
    }
    .top-menu-search-loading {
        width: 0;
        height: 0;
    }
    .content-article-block-sign {
        left: 60px;
    }
    .content-article-block {
        padding: 5px 5px 72px;
        table {
            font: {
                size: 14px;
                family: 'Droid Sans', sans-serif;
            }
            td, th {
                padding: 0 5px;
                text-align: left;
            }
            td:first-of-type, th:first-of-type {
                padding-left: 8px;
            }
        }
    }
    .main-content {
        padding: 16px 5px;
    }
    .article-preview-item {
        float: none;
        width: 100%;
    }
    .coupons-block-header-title {
        margin-left: 0;
    }
    .coupons-block-header-logo {
        width: 100px;
        height: 100px;
        margin: 0 11px 5px 0;
    }
    .coupon-block-item-logo {
        display: none;
    }
    .coupon-block-item-right {
        min-height: none;
        padding: 1px 10px;
    }
    .coupon-block-item-code {
        position: relative;
        right: 0;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .coupon-block-item-verify {
        margin-bottom: -10px;
    }
    .content-article-block {
        h1 {
            & + p {
                & > img {
                    width: 22% !important;
                    margin-bottom: 10px;
                    &:first-of-type {
                        width: 22% !important;
                        margin-bottom: 9px;
                    }
                }
                a {
                    img {
                        width: 22% !important;
                        margin-bottom: 9px;
                    }
                }
                a + a {
                    img {
                        width: 22% !important;
                    margin-bottom: 10px;
                    }
                }
            }
        }
    }
}