$background-color: white;

.box-wrapper {
    background: url(/bundles/app/img/border-pattern.32x32.png);
    padding: 0;
    
    .main {
        margin: 32px;
        padding: 0;
        background-color: $background-color;
    }
}

.recipe {
    padding: 20px;

    .recipe-title {
        font-family: 'Felipa', coursive;
        text-align: center;
    }

    table caption {
        padding: 5px 20px;
        text-align: center;
    }

    p {
        line-height: 200%;
        text-align: justify;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}
