{% extends "::baseAmp.html.twig" %}

{% block body %}
    <section class="content">
        <header class="header">
            {% block page_header %}
                {% include 'AppBundle:layout/amp:_header.html.twig' ignore missing %}
            {% endblock %}
        </header>

        <section class="main-content-block">
            {% block main %}{% endblock %}
        </section>

        <footer class="footer">
            {% block page_footer %}
                {% include 'AppBundle:layout/amp:_footer.html.twig' ignore missing %}
            {% endblock %}
        </footer>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style amp-custom>
      body {
        background-image: url("{{ asset("bundles/app/img/main-bg.png") }}");
        background-color: #f2f2f2;
      }
      .content {
        max-width: 800px;
        margin: 0 auto;
        font-family: 'Rokkitt', serif;
        color: #000;
        background-color: #fff;
      }
      .main-content-block {
        padding: 0 5px;
      }
      .header-logo-line {        
        text-align: center;
        font-size: 20px;
        font-family: 'Rokkitt', serif;
        padding: 5px;
        background-color: #ccc;
        position: relative;
      }
      .header-logo-line amp-img {
      vertical-align: middle;
      }
      .header-logo-line a {
        color: #fff;
        text-decoration: none;
      }
      .header-logo-line a:focus {
        outline: none;
      }
      a:hover {
        opacity: 0.7;
      }
      #search-link {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -25px;
        padding: 10px;
      }
      #menu-link {
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -20px;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: #f0f0f0;
        color: #000;
      }
      .top-menu, .footer-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        text-transform: capitalize;
      }
      .top-menu {
        display: table;
        z-index: 10;
        position: relative;
      }
      .top-menu > li {
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        box-sizing: border-box;
        text-align: center;
        text-transform: capitalize;
        position: relative;
      }
      .top-menu a {
        color: #ff6666;
        text-decoration: none;
        display: block;
        background-color: #fff4ef;
        padding: 10px 5px;
      }
      .top-menu li + li {
        border-left: 2px solid transparent;
      }
      .top-menu-submenu {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
        color: #ff6666;
        visibility: hidden;
        opacity: 0;
      }
      .top-menu-item:hover > .top-menu-submenu {
        transition: opacity 0.5s ease;
        visibility: visible;
        opacity: 0.9;
      }
      .footer {        
        text-align: center;
        padding: 12px 0;
        font-family: 'Droid Sans', sans-serif;
        font-size: 9px;
        background-color: #f2f2f2;
      }
      .footer-menu li + li:before {
        content: " - ";
      }
      .footer-menu li {
        display: inline;
      }
      .footer-menu a {
        text-decoration: none;
        color: #000;
      }
      .content-article-block {
        overflow: hidden;
        position: relative;
        padding: 5px 5px 62px 8px;
        border: 2px solid #ec7b7d;
        background-color: #fff;
        line-height: 1.43em;
      }
      .content-article-block h1, .content-article-block h2 {
        position: relative;
        text-align: center;
        letter-spacing: -.025em;
        text-transform: uppercase;
        line-height: 28px;
        display: block;
        font-weight: bold;
        text-transform: none;
        padding: 0 12px;
      }
      .content-article-block h1:after, .content-article-block h2:after, .content-article-block h1:before, .content-article-block h2:before {
        position: absolute;
        content:'';
        top: 0;
        height: 100%;
        width: 8px;
        box-sizing: border-box;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }
      .content-article-block h1:after, .content-article-block h2:after {
        right: 0;
        border-right: 8px solid #fff;
      }
      .content-article-block h1:before, .content-article-block h2:before {
        left: 0;
        border-left: 8px solid #fff;
      }
      .content-article-block h1 span, .content-article-block h2 span {
        vertical-align: -4px;
      }
      .content-article-block h1 {
        background-color: #ec7b7d;
        color: #fff;
        margin: 0 0 5px;
        font-size: 24px;
        letter-spacing: 0.025em;
      }
      .content-article-block h1 + p > amp-img {
        float: left;
        max-width: 132px;
        margin-left: 0;
      }
      .content-article-block h1 + p > amp-img:first-of-type {
          max-width: 200px;
          float: left;
      }
      .content-article-block h1 + p > amp-img:last-of-type {
        margin-right: 0;
        float: none;
      }
      .content-article-block h2 {
        background-color: #e0d4d6;
        overflow: hidden;
        font-size: 17px;
        letter-spacing: 0.015em;
        color: #000;
        margin: 7px 0;
      }
      .content-article-block amp-img {
        float: left;
        margin: 0 5px 5px;
        vertical-align: top;
        max-width: 98%; 
        height: auto;
        cursor: pointer;
      }
      .content-article-block h2 ~ p {
        font-size: 13px;
        font-family: 'Rokkitt', serif;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.005em;
        padding: 4px 0;
        background-color: #fff4ef;
      }
      .content-article-block p {
        padding-bottom: 5px;
        background-color: #fff;
        color: #663333;
        margin: 0;
        font-family: 'Droid Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
      }
      .content-article-block table {
        display: block;
        position: relative;
        border: 0;
        background-color: #eee8e9;
        color: #663333;
        line-height: 24px;
        width: 100%;
        border-radius: 15px;
        padding: 6px 0 16px 0;
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Droid Sans', sans-serif;
        overflow: hidden;
      }
      .content-article-block table p {
        background-color: #eee8e9;
        margin: 0;
        padding: 0;            
      }
      .content-article-block table td, .content-article-block table th {
        width: 1%;
        padding: 0 5px;
        text-align: left;
      }
      .content-article-block table td:first-of-type, .content-article-block table th:first-of-type {
        padding-left: 8px;
      }
      .content-article-block th, .content-article-block th p {
        color: #ff6666;
        font-weight: bold;
        letter-spacing: 0.03em;
      }
      .content-article-block-sign {
        bottom: 16px;
        left: 50px;
        position: absolute;
        text-transform: none;
        color: #000;
        margin-top: -4px;
        line-height: 24px;
        font-size: 17px;
        font-weight: bold;
      }
      .content-article-block-sign span {
        text-decoration: underline;
      }
      .content-article-block-sign:after {
        content: '';
        position: absolute;
        width: 36px;
        height: 56px;
        left: -42px;
        top: -20px;
        background-image: url("{{ asset("bundles/app/img/article-sign-logo.png") }}");
        background-repeat: no-repeat;
        background-position: bottom center;
      }
      .content-article-block-enjoy {
        position: absolute;
        right: 0;
        bottom: 14px;
        font-family: 'Droid Sans', sans-serif;
        font-weight: bold;
        letter-spacing: .03em;
        font-size: 18px;
      }
      .content-article-block-enjoy:after{
        position: absolute;
        content:'';
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 8px solid #fff;
      }
      .content-article-block-enjoy span {
            vertical-align: -2px;
        }
      .content-article-block-enjoy a {
        padding-left: 22px;
        padding-right: 18px;
        height: 30px;
        text-decoration: none;
        color: #fff;;
        display: block;
        box-sizing: border-box;
        background-color: #617dda;
      }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}