.container {
  background-image: url("images/main-bg.png");
  background-color: #f2f2f2;
  width: 1280px;
  font-family: 'Rokkitt', serif; }

.content {
  background-color: #fff;
  width: 1024px;
  margin: 0 auto; }

.row.no-expand {
  margin: 0; }

.no-expand > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.header {
  position: relative; }

.main-logo {
  position: absolute;
  width: 362px;
  height: 362px;
  left: 331px;
  top: 0;
  background-image: url("images/logo-bg.png");
  display: inline-block;
  line-height: 362px;
  text-align: center;
  z-index: 10; }
  .main-logo img {
    vertical-align: middle; }
  .main-logo a:focus {
    outline: none; }

.top-menu-section {
  position: relative; }

.top-menu-pattern-top, .top-menu-pattern-bottom {
  height: 56px;
  width: 100%;
  background-position: top center;
  background-repeat: repeat; }

.top-menu-pattern-top {
  background-image: url("images/top-menu-pattern.png");
  margin-top: -30px; }

.top-menu-pattern-bottom {
  background-image: url("images/top-menu-pattern-rotated.png");
  margin-top: -26px; }

.top-menu-text {
  width: 356px;
  height: 146px;
  text-align: right;
  line-height: 48px;
  padding-left: 10px;
  color: #ff6666;
  letter-spacing: -.01em;
  font-size: 40px;
  font-weight: bold; }

.top-menu {
  z-index: 10; }

.top-menu-list {
  list-style: none;
  padding: 0;
  display: table;
  width: 100%;
  line-height: 34px;
  letter-spacing: -0.025em;
  font-family: 'Rokkit', serif;
  font-size: 16px; }

.top-menu-item {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase; }
  .top-menu-item a {
    color: #669999;
    text-decoration: none; }
  .top-menu-item.active {
    position: relative; }
    .top-menu-item.active a {
      color: #ff6666; }
  .top-menu-item.active:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    left: 50%;
    bottom: 95%;
    background-image: url("images/top-menu-logo.png");
    background-repeat: no-repeat;
    background-position: bottom center; }

.top-menu-search {
  position: absolute;
  right: 8px;
  top: 106px; }
  .top-menu-search input {
    height: 46px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none; }
    .top-menu-search input[type="submit"] {
      width: 66px;
      margin-left: -4px;
      background-color: #ff6666;
      background-image: url("images/search-icon.png");
      background-position: center;
      background-repeat: no-repeat; }
      .top-menu-search input[type="submit"]:hover {
        opacity: .7; }
    .top-menu-search input[type="text"] {
      width: 262px;
      padding-left: 18px;
      border-top: 4px;
      border-bottom: 4px;
      border-style: solid;
      border-color: #ff6666; }
  .top-menu-search:after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: -39px;
    width: 41px;
    height: 57px;
    background-image: url("images/search-logo.png");
    background-position: center;
    background-repeat: no-repeat; }

.top-menu-search-form {
  position: relative; }
  .top-menu-search-form:before {
    position: absolute;
    content: '';
    top: 0;
    left: -1px;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-left: 14px solid #ff6666;
    box-sizing: border-box; }
  .top-menu-search-form:after {
    position: absolute;
    content: '';
    top: 0;
    left: -5px;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-left: 14px solid #fff;
    box-sizing: border-box; }

.main-content {
  padding: 16px 8px 32px 10px;
  margin: 0;
  position: relative; }
  .main-content:before, .main-content:after {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0;
    height: 90px;
    width: 128px;
    background-color: #f2f2f2; }
  .main-content:after {
    left: 100%; }

.content-coupons-block {
  padding: 10px 10px 10px 16px;
  margin-bottom: 14px;
  border: 2px solid #ff6666; }
  .content-coupons-block.green {
    border-color: #669999; }

.content-coupons-block :last-child {
  margin-bottom: 0; }

.coupons-block-header {
  overflow: hidden; }

.coupons-block-header-logo, .coupon-block-item-logo {
  width: 120px;
  height: 120px;
  margin-right: 22px;
  margin-bottom: 10px; }

.coupons-block-header-logo {
  float: left; }
  .coupons-block-header-logo:after {
    content: '';
    clear: both;
    display: block;
    height: 0; }

.coupons-block-header-title {
  background-color: #ff6666;
  margin-left: 132px;
  margin-bottom: 8px;
  color: #fff;
  font-size: 24px; }
  .green .coupons-block-header-title {
    background-color: #669999; }
  .coupons-block-header-title span {
    vertical-align: -9px;
    padding-left: 54px; }
  .coupons-block-header-title.no-logo {
    margin-left: 0; }

.coupons-block-header-descr {
  padding: 0 10px;
  letter-spacing: -.002em; }

.coupons-block-item {
  width: 100%;
  background-color: #fff4ef;
  color: #ff6666;
  margin-top: 2px;
  margin-bottom: 14px; }
  .green .coupons-block-item {
    color: #669999; }
  .coupons-block-item > * {
    float: left;
    box-sizing: border-box; }
  .coupons-block-item:after {
    content: '';
    clear: both;
    display: block;
    height: 0; }

.coupon-block-item-left {
  width: 120px;
  text-align: center; }

.coupon-block-item-right {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  width: 516px;
  padding-left: 12px; }

.coupon-block-item-title {
  letter-spacing: .02em;
  margin-top: 12px;
  text-transform: capitalize; }

.coupon-block-item-logo {
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -.025em;
  line-height: 30px;
  padding-top: 22px;
  padding-right: 10px;
  font-size: 40px; }
  .coupon-block-item-logo span {
    font-size: 48px; }

.coupon-block-item-details {
  letter-spacing: .02em;
  text-transform: capitalize;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  padding-left: 12px;
  padding-bottom: 4px; }

.coupon-block-item-descr {
  min-height: 56px;
  color: #000;
  font-size: 21px;
  line-height: 29px;
  display: flex;
  padding-right: 190px;
  position: relative; }

.coupon-block-item-label {
  display: inline-block;
  align-self: flex-end; }

.coupon-block-item-verify {
  padding-top: 6px;
  color: #663333;
  letter-spacing: .01em; }

.coupon-block-item-code {
  width: 192px;
  position: absolute;
  right: -10px;
  top: 24px;
  font-size: 18px;
  letter-spacing: .02em; }
  .coupon-block-item-code:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 8px solid #fff4ef; }
  .coupon-block-item-code span {
    vertical-align: -2px; }
  .coupon-block-item-code a {
    padding-left: 22px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    display: block;
    box-sizing: border-box;
    background-color: #617dda; }

.content-offers-block {
  padding: 12px 10px 0 10px;
  margin-bottom: 14px;
  border: 2px solid #ffc168;
  text-align: center; }

.offers-block-header {
  background-color: #ffc168;
  color: #fff;
  font-size: 24px; }
  .offers-block-header span {
    vertical-align: -9px; }

.offers-block-header, .coupons-block-header-title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: -.025em;
  line-height: .8em; }
  .offers-block-header:after, .offers-block-header:before, .coupons-block-header-title:after, .coupons-block-header-title:before {
    position: absolute;
    content: '';
    top: 0;
    height: 0;
    width: 0;
    border: 14px solid transparent; }
  .offers-block-header:before, .coupons-block-header-title:before {
    left: 0;
    border-left: 8px solid #fff; }
  .offers-block-header:after, .coupons-block-header-title:after {
    right: 0;
    border-right: 8px solid #fff; }

.offers-block-list {
  padding-top: 14px; }
  .offers-block-list > .row {
    padding: 19px 0; }

.offers-block-item {
  display: table;
  table-layout: fixed;
  min-height: 120px; }
  .offers-block-item img {
    max-width: 100%; }

.image-centerer {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.content-left-column {
  padding-right: 9px; }

.content-right-column {
  padding-top: 64px;
  padding-left: 9px;
  position: relative; }
  .content-right-column:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 64px;
    left: -6px;
    top: -6px;
    background-image: url("images/right-column-logo.png");
    background-repeat: no-repeat;
    background-position: bottom center; }

.side-menu-section {
  text-align: center;
  font-size: 17px;
  text-transform: uppercase; }

.menu-section-header {
  background-color: #ff6666;
  position: relative;
  color: #fff;
  letter-spacing: .07em;
  height: 30px;
  font-weight: 800; }
  .green .menu-section-header {
    background-color: #669999; }
  .yellow .menu-section-header {
    background-color: #ffc168; }
  .blue .menu-section-header {
    background-color: #617dda; }
  .menu-section-header span {
    vertical-align: -4px; }
  .menu-section-header:after, .menu-section-header:before {
    position: absolute;
    content: '';
    top: 0;
    height: 0;
    width: 0;
    border: 15px solid transparent; }
  .menu-section-header:before {
    left: 0;
    border-left: 8px solid #fff; }
  .menu-section-header:after {
    right: 0;
    border-right: 8px solid #fff; }

.right-menu-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  width: 100%;
  line-height: 34px;
  letter-spacing: -0.01em;
  font-weight: bold; }

.right-menu-item a {
  text-decoration: none;
  color: #000; }
.right-menu-item img {
  max-height: 88px;
  margin-top: -10px;
  margin-bottom: -8px; }

.menu-section-content {
  padding-bottom: 2px; }

a img {
  border: none; }

.footer {
  background-color: #f2f2f2;
  position: relative;
  padding-bottom: 2px;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 9px; }
  .footer:before, .footer:after {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0;
    height: 100%;
    width: 128px;
    background-color: #f2f2f2; }
  .footer:after {
    left: 100%; }

.footer-top {
  font-size: 12px;
  line-height: 18px;
  padding: 8px; }

.footer-bottom {
  padding-top: 12px;
  position: relative;
  border-top: 12px solid #fff; }

.footer-bottom-menu {
  padding-bottom: 10px; }

.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize; }
  .footer-menu-list li + li:before {
    content: " - "; }

.footer-menu-item {
  display: inline; }
  .footer-menu-item a {
    text-decoration: none;
    color: #000; }

.no-capitalize {
  text-transform: none; }

a:hover {
  opacity: .7; }

/*# sourceMappingURL=style.css.map */
