<nav>
    <ul class="top-menu">
        {% set i = 0 %}
        {% for menu in menus if i < 2 %}
            {% if menu.type == constant('AppBundle\\Entity\\Menu::TYPE_SIDE') and menu.items is not empty %}
                <li class="top-menu-item">
                    <a class="disabled">{{ menu.header }}</a>
                    <ul class="top-menu-submenu">
                        {{ render(controller('AppBundle:Page:menu', {'name': menu.name, 'prefix': amp_prefix})) }}
                    </ul>
                </li>
                {% set i = i + 1 %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<div class="top-menu-pattern-bottom"></div>