<div class="container">
    <div class="col-md-10">
        {{ form_widget(form.coupons.vars.prototype) }}
    </div>
    <div class="col-md-2">
        <a href="#" class="couponActions">First</a></br>
        <a href="#" class="couponActions">Last</a></br>
        <a href="#" class="couponActions">Up</a></br>
        <a href="#" class="couponActions">Down</a></br>
        <a href="#" class="couponActions">Deactivate</a><br>
        <a href="#" class="couponActions removeLink">Remove</a>
    </div>
</div>