ul.mutable-items  {
    li.list-item {
        margin: 10px 0;
        border: 1px solid #aaa;
        background: #f0f0f0;
        border-radius: 5px;
        padding: 5px 0 0 0;
    }
    li.deactivated {
        background: #ccc;
    }
}
.store-logo {
    max-height: 100px;
    max-width: 100px;
    margin: 0;
    margin-left: 8px;
    line-height: 100px;
    vertical-align: center;
}
.form-group {
    & > label {
        padding: 5px 7px 5px 5px !important;
    }
    input, select {
        padding: 3px 5px;
        height: 28px;

    }
    input[type=checkbox] {
        margin-top: -3px !important;
    }
    textarea {
        padding: 3px 5px;
        resize: none;
    }
}
.list-item div {
    padding: 0 !important;
    margin: 0 0 5px 0 !important;
}
.coupon-content > div {
    margin-bottom: -5px !important;
}
.container {
    padding: 0 !important;
}
.container div:last-child {
    margin-bottom: 0 !important;
}


.content {
    padding-top: 40px;
}
.admin-navigation-menu {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ECEAE0;
    ul {
        list-style: none;
    }
    li {
        padding: 5px 10px;
        display: inline-block;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        float: left;
        white-space: nowrap;
        box-sizing: border-box;
        font-weight: bold;
        text-align: center;
        &:hover {
            background-color: #E0DED7;
        }
        &.active {
            z-index: 10;
            position: relative;
            background-color: #fff;
            &:after, &:before {
                position: absolute;
                content: '';
                height: 7px;
                width: 7px;
                bottom: 0;
                right: 100%;
                background-image: url("/bundles/app/img/tab-corner-bottom-left.png");
            }
            &:before {
                left: 100%;
                background-image: url("/bundles/app/img/tab-corner-bottom-right.png");

            }
        }
    }
}