<nav>
    <ul class="top-menu">
        {{ render(controller('AppBundle:Page:menuAmp', {'name': 'sidebar-articles', 'type': 'top'})) }}
        {{ render(controller('AppBundle:Page:menuAmp', {'name': 'sidebar-recipies', 'type': 'top'})) }}
    </ul>
</nav>