<div class="side-menu-section">
    {{ render(controller('AppBundle:Page:menu', {'name': 'sidebar-articles'})) }}
</div>
<div class="side-menu-section blue">
    {{ render(controller('AppBundle:Page:menu', {'name': 'sidebar-recipies'})) }}
</div>
<div class="side-menu-section yellow">
    {{ render(controller('AppBundle:Page:menu', {'name': 'sidebar-stores'})) }}
</div>