{% set colors_array = constant('AppBundle\\Entity\\Menu::PROD_COLORS') %}
{% set menu_num = 0 %}
{% for menu in menus %}
    {% if menu.type == constant('AppBundle\\Entity\\Menu::TYPE_SIDE') %}
        <div class="side-menu-section {{ colors_array[menu_num % colors_array|length]}}">
           {{ render(controller('AppBundle:Page:menu', {'name': menu.name})) }}
           {% set menu_num = menu_num + 1 %}
        </div>
    {% endif %}
{% endfor %}