{#<div class="footer-top"></div>#}
<section class="footer-bottom">
    {% for menu in menus %}
        {% if menu.type == constant('AppBundle\\Entity\\Menu::TYPE_BOTTOM') %}
            <div class="footer-menu">
                {{ render(controller('AppBundle:Page:menu', {'name': menu.name})) }}
            </div>
        {% endif %}
    {% endfor %}
</section>