<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <nav role="navigation" class="nav-links">
            {{ render(controller('AppBundle:Page:Menu', {'name': 'footer'})) }}
        </nav>
    </div>    
</div>
