<div class="header-logo">
        <img src="{{ asset("bundles/app/img/header.png") }}" alt="Bakingshop.com">
        <div class="slideshow-container hidden-xs">
            {{ render(controller('AppBundle:Page:headerSlideshow')) }} 
        </div>      
</div>
<div class="main-logo">
    <a href="/"><img src="{{ asset("bundles/app/img/logo.png") }}" alt="Bakingshop.com"></a>
</div>
</div>

<div class="top-menu-section">
<div class="top-menu-pattern-top"></div>
<div class="top-menu-section-header">
    <div class="top-menu-text main-page">Recipies
        <div class="top-menu-text-sign">Recipe by: <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
{#        <div class="top-menu-search">
        <div class="top-menu-search-form">
            <form name="search" method="post">
                <input type="text">
                <input type="submit" value=' '>
            </form>
        </div>
    </div>#}
</div>
<div class="top-menu-pattern-bottom"></div>
