{% render(controller('AppBundle:Page:headerSlideshow')) %}
<header>
    <hr class="line-border hidden-xs" />
    <div class="row">
        <div class="col-sm-8 col-sm-push-4">
        </div>
        <div class="col-sm-4 col-sm-pull-8">
            <a href="{{ path('homepage') }}"><img class="img-responsive" id="general-logo" src="{{ asset('/bundles/app/img/bakingshop-logo.ws.png') }}" alt="BakingShop.com"></a>
        </div>
    </div>
</header>
