<section class="footer-menu-block">
    {% for menu in menus %}
        {{ menu.type == constant('AppBundle\\Entity\\Menu::TYPE_BOTTOM') ? render(controller('AppBundle:Page:menu', {'name': menu.name, 'prefix': amp_prefix})) }}
    {% endfor %}
</section>