<div class="header-logo-line">
    <a href="{{ path('homepage', {"prefix": amp_prefix}) }}" id="menu-link">Menu</a>
    <a href="{{ path('homepage', {"prefix": amp_prefix}) }}"><amp-img src="/bundles/app/img/amp-logo.png" alt="Bakingshop.com" width="56px" height="56px" layout="fixed"></amp-img>
    <span>BAKINGSHOP.com</span></a>
    <a href="{{ path('homepage') }}" id="search-link"><amp-img src="/bundles/app/img/search-icon.png" alt="Bakingshop.com" width="25px" height="22px" layout="fixed"></amp-img></a>
</div>
{% include 'AppBundle:amp/layout:_top_menu.html.twig' ignore missing %}