<nav>
    <ul class="top-menu">
        {% for menu in menus %}
            {{ menu.type == constant('AppBundle\\Entity\\Menu::TYPE_SIDE') ? render(controller('AppBundle:Page:menu', {'name': menu.name, 'prefix': amp_prefix, 'type': 'top'})) }}
        {% endfor %}
    </ul>
</nav>