<nav>
    <ul class="top-menu">
        {{ render(controller('AppBundle:Page:menu', {'name': 'sidebar-articles', 'link_prefix': link_prefix, 'type': 'top'})) }}
        {{ render(controller('AppBundle:Page:menu', {'name': 'sidebar-recipies', 'link_prefix': link_prefix, 'type': 'top'})) }}
    </ul>
</nav>