<div class="slideshow">
    {% for index in range(1,6) %}
        <img class="img-responsive{{ index == 1 ? ' active' : '' }}" src="{{ asset("bundles/app/img/slide#{index}.jpg") }}" alt="">
    {% endfor %}
</div>
