{% if menu is not empty %}
    {% for menu_item in menu.items %}
        <li class="menu-item{{ pathInfo == menu_item.url ? ' active' : '' }}"><a href="{{ path(menu_item) }}">{{ menu_item.title }}</a></li>
    {% endfor %}
{% endif %}