{% if menu is not empty %}
    <div class="menu-title"><span>{{ menu.header }}</span></div>
    <div class="menu-items">
        <ul class="menu-list">
            {% for menu_item in menu.items %}
                <li class="menu-item"><a href="{{ path(menu_item) }}">{{ menu_item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}