{% if menu is not empty %}
    <header>
        <h3>{{ menu.header }}</h3>
    </header>

    <ul>
        {% for menu_item in menu.items %}
            <li><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
